[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
